{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{%static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{%static 'aos/dist/aos.css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}" />
    <link
      rel="stylesheet"
      href="'{%static 'vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}" />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{%static 'images/favicon.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    <!-- endinject -->
    <script type="text/javascript">
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "";
        if(currentDate.getHours()>12){      //시간이 12보다 크다면 오후 아니면 오전
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {    //정각 1분전부터 빨강색으로 출력
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);  //1초마다 갱신
      }
    </script>
  </head>

  <body onload="showClock()">
    <div class="container-scroller">
      <header id="header">
        <div class="container">
          <!-- partial:../partials/_navbar.html -->
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                  <li><div id="divClock" class="clock"></div></li>
                  <li></li>
                </ul>
                <div>
                  <a class="navbar-brand" href="#"
                    ><img src="{%static 'images/logo.svg' %}" alt="" />
                  </a>
                </div>
                <div class="d-flex">
                  <ul class="navbar-right">
                    <li>
                      <a href="index.html">한글</a>
                    </li>
                    <li>
                      <a href="index.html">ENGLISH</a>
                    </li>
                  </ul>
                  <ul class="social-media">
                    <li>
                      <a href="https://www.instagram.com/?hl=ko">
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/">
                        <i class="mdi mdi-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom-menu">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link active" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/world.html">Politics</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/author.html">Economy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/news-post.html">Society</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/business.html">Living/Culture</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/sports.html">IT/Science</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages/art.html">World</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="mdi mdi-magnify"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

          <!-- partial -->
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <h1 class="text-center mt-5">
                Art
              </h1>
              <p class="text-secondary fs-15">
                This text can be added in the category Description field in
                dashboard
              </p>
            </div>
            <h5 class="text-muted font-weight-medium mb-3">World News</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_1.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h1 class="font-weight-600 mt-3">
              멜라니아 트럼프가 국무부에서 용기에 대해 말하다
            </h1>
            <p class="fs-15 font-weight-normal">
              로렘 입숨은 그 이후로 업계의 표준 더미 텍스트였다.
              1500년대, 알려지지 않은 프린터가 활자의 갤리를 가지고 있을 때 그리고...
            </p>
          </div>
          <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="row">
              <div class="col-sm-6  mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img
                    src="{%static 'images/business/Business_4.jpg' %}"
                    class="img-fluid"
                    alt="world-news"
                  />
                  <span class="thumb-title">ART</span>
                </div>
                <h5 class="font-weight-600 mt-3">
                  캘리포니아의 으스스한 비행기 묘지 탐험
                </h5>
                <p class="fs-15 font-weight-normal">
                  로렘 입숨은 업계의 표준 더미 텍스트였다.
                </p>
              </div>
              <div class="col-sm-6  mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img
                    src="{%static 'images/business/Business_2.jpg' %}"
                    class="img-fluid"
                    alt="world-news"
                  />
                  <span class="thumb-title">ART</span>
                </div>
                <h5 class="font-weight-600 mt-3">
                  세계에서 가장 아름다운 경마장
                </h5>
                <p class="fs-15 font-weight-normal">
                  세계 최고의 경마장은 최고의 승마 엔터테인먼트를 제공할 뿐만 아니라 스포츠 세계에서 가장 아름답고 인상적인 건축물을 대표합니다.
                </p>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-6  mb-5 mb-sm-2">
                <div class="position-relative image-hover">
                  <img
                    src="{%static 'images/business/Business_5.jpg' %}"
                    class="img-fluid"
                    alt="world-news"
                  />
                  <span class="thumb-title">ART</span>
                </div>
                <h5 class="font-weight-600 mt-3">
                  일본, 바이러스 우려에 벚꽃 축제 취소
                </h5>
                <p class="fs-15 font-weight-normal">
                  매년 수백만 명의 사람들을 끌어들이는 일본의 상징적인 벚꽃 축제가 신종 코로나바이러스 발병으로 인해 취소되었습니다. 
                </p>
              </div>
              <div class="col-sm-6">
                <div class="position-relative image-hover">
                  <img
                    src="{%static 'images/business/Business_3.jpg' %}"
                    class="img-fluid"
                    alt="world-news"
                  />
                  <span class="thumb-title">ART</span>
                </div>
                <h5 class="font-weight-600 mt-3">
                  전기차로 재탄생한 클래식카
                </h5>
                <p class="fs-15 font-weight-normal">
                  해리 왕자와 서식스 공작부인 메건은 여러 면에서 트렌드를 선도하는 커플이지만 그들이 옹호해 온 한 운동이 상대적으로 주목받지 못했습니다.
                  지난 달 세계의 카메라를 든 왕실 부부는 1968년 베이비 블루 재규어 E-타입을 타고 결혼식에서 저녁 피로연까지 스타일리시하게 탔습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-sm-12">
            <h5 class="text-muted font-weight-medium mb-3">Popular News</h5>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_6.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              피트 시장에게 이름을 준 섬나라
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_10.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              디즈니 파크, 채식주의자 음식 선택권 확대
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_14.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              어두워지면 옷을 입을 수 있는 온천
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_16.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              어두워지면 옷을 입을 수 있는 온천
            </h5>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_8.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              일본 요리사가 음식을 놀라운 예술 작품으로 조각하다
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_12.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              Misanthrope Society: 타이베이의 술집.
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_18.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              파키스탄에서 카리브해까지: 커리 여행
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_20.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              어두워지면 옷을 입을 수 있는 온천
            </h5>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_7.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              피트 시장이 섬나라에 이름을 지어주었다.
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_11.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              디즈니 파크, 채식주의자 음식 선택권 확대
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_15.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              어두워지면 옷을 입을 수 있는 온천
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_17.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              어두워지면 옷을 입을 수 있는 온천
            </h5>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_9.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              일본 요리사는 음식을 놀라운 예술 작품으로 조각한다.
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%static 'images/business/Business_13.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              인간 혐오자 협회: 타이베이의 술집.
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%  static 'images/business/Business_19.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              파키스탄에서 카리브해까지: 카레의 여정
            </h5>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
              <img
                src="{%  static '/images/business/Business_21.jpg' %}"
                class="img-fluid"
                alt="world-news"
              />
              <span class="thumb-title">ART</span>
            </div>
            <h5 class="font-weight-600 mt-3">
              파키스탄에서 카리브해까지: 카레의 여정
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    <footer>
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="border-top"></div>
              </div>
              <div class="col-sm-3 col-lg-3">
                <ul class="footer-vertical-nav">
                  <li class="menu-title"><a href="post.html">News</a></li>
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="./world.html">World</a></li>
                  <li><a href="./author.html">Magazine</a></li>
                  <li><a href="./business.html">Business</a></li>
                  <li><a href="./politics.html">Politics</a></li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-3">
                <ul class="footer-vertical-nav">
                  <li class="menu-title"><a href="./world.html">World</a></li>
                  <li><a href="./sports.html">Sports</a></li>
                  <li><a href="./art.html">Art</a></li>
                  <li><a href="#">Magazine</a></li>
                  <li><a href="./real-estate.html">Real estate</a></li>
                  <li><a href="./travel.html">Travel</a></li>
                  <li><a href="./author.html">Author</a></li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-3">
                <ul class="footer-vertical-nav">
                  <li class="menu-title"><a href="#">Features</a></li>
                  <li><a href="#">Photography</a></li>
                  <li><a href="#">Video</a></li>
                  <li><a href="post.html">Newsletters</a></li>
                  <li><a href="#">Live Events</a></li>
                  <li><a href="#">Stores</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>
              </div>
              <div class="col-sm-3 col-lg-3">
                <ul class="footer-vertical-nav">
                  <li class="menu-title"><a href="#">More</a></li>
                  <li><a href="#">RSS</a></li>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">User Agreement</a></li>
                  <li><a href="#">Privacy</a></li>
                  <li><a href="./aboutus.html">About us</a></li>
                  <li><a href="./contactus.html">Contact</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex justify-content-between">
                  <img src="{%  static 'images/logo.svg' %}" class="footer-logo" alt="" />

                  <div class="d-flex justify-content-end footer-social">
                    <h5 class="m-0 font-weight-600 mr-3 d-none d-lg-flex">Follow on</h5>
                    <ul class="social-media">
                      <li>
                        <a href="#">
                          <i class="mdi mdi-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-youtube"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-linkedin"></i>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div
                  class="d-lg-flex justify-content-between align-items-center border-top mt-5 footer-bottom"
                >
                  <ul class="footer-horizontal-menu">
                    <li><a href="#">Terms of Use.</a></li>
                    <li><a href="#">Privacy Policy.</a></li>
                    <li><a href="#">Accessibility & CC.</a></li>
                    <li><a href="#">AdChoices.</a></li>
                    <li><a href="#">Advertise with us Transcripts.</a></li>
                    <li><a href="#">License.</a></li>
                    <li><a href="#">Sitemap</a></li>
                  </ul>
                  <p class="font-weight-medium">
                    © 2020 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-dark">@ BootstrapDash</a>, Inc.All Rights Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>

    <!-- partial -->
    <!-- inject:js -->
    <script src="{%  static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{%  static 'vendors/aos/dist/aos.js/aos.js' %}"></script>
    <script src="{%  static 'vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{%  static 'js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
