<!DOCTYPE html>
{% load static %}
<html lang="zxx">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>World Vision</title>
    <!-- plugin css for this page -->
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/vendors/aos/dist/aos.css/aos.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.carousel.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendors/owl.carousel/dist/assets/owl.theme.default.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <script type="text/javascript">
      function showClock(){
        var currentDate = new Date();
        var divClock = document.getElementById('divClock');
        var msg = "";
        if(currentDate.getHours()>12){
          msg += "오후 ";
          msg += currentDate.getHours()-12+"시 ";
       }
       else {
         msg += "오전 ";
         msg += currentDate.getHours()+"시 ";
       }

        msg += currentDate.getMinutes()+"분 ";

        divClock.innerText = msg;

        if (currentDate.getMinutes()>58) {
          divClock.style.color="red";
        }
        setTimeout(showClock,1000);
      }
    </script>
  </head>

  <body onload="showClock()">
    <div class="container-scroller">
      <header id="header">
        <div class="container">
          <!-- partial:../partials/_navbar.html -->
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="d-flex justify-content-between align-items-center navbar-top">
                <ul class="navbar-left">
                  <li><div id="divClock" class="clock"></div></li>
                  <li></li>
                </ul>
                <div>
                  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/images/logo.svg' %}"
                    alt="" /></a>
                </div>
                <div class="d-flex">
                  <ul class="navbar-right">
                  </ul>
                  <ul class="social-media">
                    <li>
                      <a href="https://www.instagram.com/?hl=ko">
                        <i class="mdi mdi-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.facebook.com/">
                        <i class="mdi mdi-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/">
                        <i class="mdi mdi-youtube"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.linkedin.com/">
                        <i class="mdi mdi-linkedin"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/">
                        <i class="mdi mdi-twitter"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="navbar-bottom-menu">
                <button
                  class="navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div
                  class="navbar-collapse justify-content-center collapse"
                  id="navbarSupportedContent"
                >
                  <ul
                    class="navbar-nav d-lg-flex justify-content-between align-items-center"
                  >
                    <li>
                      <button class="navbar-close">
                        <i class="mdi mdi-close"></i>
                      </button>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link active" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'author' %}">언론사별</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'politics' %}">정치</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'post' %}">사회</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'business' %}">경제</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'sports' %}">스포츠</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'art' %}">미술</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'world' %}">세계</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#"><i class="mdi mdi-magnify"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>

          <!-- partial -->
        </div>
      </header>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="text-left">
              <br>
              <img
              src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202001/02/b005b352-279a-4fa7-9a1c-7c07353fc3d2.jpg"
                class="img-fluid"
                alt="world-news"
              />
                <p>
                <br>
                  {{ banner1 }}
                </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6  mb-5 mb-sm-2">
            <div class="position-relative image-hover">

            </div>
          </div>
          <div class="col-lg-6  mb-5 mb-sm-2">

          </div>
        </div>
        <div class="row mt-5">
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
          <div class="col-sm-3  mb-5 mb-sm-2">
            <div class="position-relative image-hover">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-scroller ends -->
    <!-- partial:../partials/_footer.html -->
    <footer>
          <div class="container">
            <div class="row">
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="d-flex justify-content-between">
                  <img src="{% static 'images/logo.svg' %}" class="footer-logo" alt="" />
                  <div class="d-flex justify-content-end footer-social">
                    <h5 class="m-0 font-weight-600 mr-3 d-none d-lg-flex">Follow on</h5>
                    <ul class="social-media">
                      <li>
                        <a href="https://www.instagram.com/?hl=ko">
                          <i class="mdi mdi-instagram"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.facebook.com/">
                          <i class="mdi mdi-facebook"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/">
                          <i class="mdi mdi-youtube"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://www.linkedin.com/">
                          <i class="mdi mdi-linkedin"></i>
                        </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/">
                          <i class="mdi mdi-twitter"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div
                  class="d-lg-flex justify-content-between align-items-center border-top mt-5 footer-bottom"
                >
                  <ul class="footer-horizontal-menu">
                    <li><a href="#">Terms of Use.</a></li>
                    <li><a href="#">Privacy Policy.</a></li>
                    <li><a href="#">Accessibility & CC.</a></li>
                    <li><a href="#">AdChoices.</a></li>
                    <li><a href="#">Advertise with us Transcripts.</a></li>
                    <li><a href="#">License.</a></li>
                    <li><a href="#">Sitemap</a></li>
                  </ul>
                  <p class="font-weight-medium">
                    © 2020 <a href="https://www.bootstrapdash.com/" target="_blank" class="text-dark">@ BootstrapDash</a>, Inc.All Rights Reserved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>

    <!-- partial -->
    <!-- inject:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'assets/vendors/aos/dist/aos.js/aos.js' %}"></script>
    <script src="{% static 'assets/vendors/owl.carousel/dist/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/demo.js' %}"></script>
    <!-- End custom js for this page-->
  </body>
</html>
