<div class="content container">
{% load static %}
    <div class="row">
        <div class="col-md-8">
          {% block content %}
            {% for nsum in ns %}
                <div class="post">
                    <p>{{ nsum.ns_id }}</p>
                    <h1><button type="button" onclick="location.href={%static '' %}">
                        {{ nsum.n_id}}
                    </button>
                    </h1>
                    <p>{{ nsum.ns_content }}</p>
                </div>
            {% endfor %}
          {% endblock %}
        </div>
    </div>
</div>
