{% load static %}
 <div class="row">
    <div class="col-lg-8">
      <div class="owl-carousel owl-theme" id="main-banner-carousel">
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_1.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_2.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_3.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="py-3 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_1.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Henry Itondo</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              The Most And Least Visited Countries In The World
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="py-3 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_2.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Oka Tomoaki</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              The Best Places to Travel in month August
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="pt-4 pb-4 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_2.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Joana Leite</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Focus On Fun And Challenging Lifetime Activities
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pt-3 pb-4 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_4.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Rita Leite</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Bread Is The Most Widely Consumed Food In The World
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="pt-4 pb-4">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_5.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Jurrien Oldhof</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              What Is Music, And What Does It Mean To Us
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pt-3 pb-4">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_6.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Yamaha Toshinobu</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Is Breakfast The Most Important Meal Of The Day
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <div class="owl-carousel owl-theme" id="main-banner-carousel">
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                <a class="nav-link" href="{% url 'banner1' %}" >진중권 “오픈북? 그렇다고 부모가 보진 않아” 유시민 “모든 정보, 검찰의 주장”</a>
              </h1>
              <h5 class="font-weight-normal  m-0">
                <p style="color:black;">{{ banner }}</p>
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/202001/02/b005b352-279a-4fa7-9a1c-7c07353fc3d2.jpg">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                <a class="nav-link" href="{% url 'banner2' %}">강원, 새해 첫날부터 산불·추락사 등 사건사고 잇따라</a>
              </h1>
              <h5 class="font-weight-normal  m-0">
                <p style="color:black;">{{ banner }}</p>
                <!-- <p style="color:black;">{{ i_sum }}</p> -->
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="https://imgnews.pstatic.net/image/003/2020/01/01/NISI20200101_0000455879_web_20200101231840_20200101232403833.jpg?type=w647" width="1000">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                <a class="nav-link" href="{% url 'banner3' %}">‘창원 짚트랙’ 개장 70여일 만에 1만명 다녀가</a>
              </h1>
              <h5>
                <p style="color:black;">{{ banner }}</p>
                <!-- <p style="color:black;">{{ isum2 }}</p> -->
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="https://www.pressian.com/data/photos/cdn/20200101/art_1577888642.jpg" width="2000">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                <a class="nav-link" href="{% url 'banner4' %}">계룡시, 시민과 함께한 2020년 해맞이행사 성료</a>
              </h1>
              <h5 class="font-weight-normal  m-0">
                <p style="color:black;">{{ banner }}</p>
                <!-- <p style="color:black;">{{ i_sum3 }}</p> -->
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="http://image.sportsseoul.com/2020/01/01/news/2020010101000104000004001.jpg" width="3000" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>