{% load static %}
<div class="row">
    <div class="col-lg-8">
      <div class="owl-carousel owl-theme" id="main-banner-carousel">
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_1.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_2.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="item">
          <div class="carousel-content-wrapper mb-2">
            <div class="carousel-content">
              <h1 class="font-weight-bold">
                If you wanted to get rich, how would you do it?
              </h1>
              <h5 class="font-weight-normal  m-0">
                Lorem Ipsum has been the industry's standard
              </h5>
              <p class="text-color m-0 pt-2 d-flex align-items-center">
                <span class="fs-10 mr-1">2 hours ago</span>
                <i class="mdi mdi-bookmark-outline mr-3"></i>
                <span class="fs-10 mr-1">126</span>
                <i class="mdi mdi-comment-outline"></i>
              </p>
            </div>
            <div class="carousel-image">
              <img src="{% static 'images/dashboard/banner_3.jpg' %}" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-6">
          <div class="py-3 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_1.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Henry Itondo</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              The Most And Least Visited Countries In The World
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="py-3 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_2.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Oka Tomoaki</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              The Best Places to Travel in month August
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="pt-4 pb-4 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_2.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Joana Leite</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Focus On Fun And Challenging Lifetime Activities
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pt-3 pb-4 border-bottom">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_4.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Rita Leite</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Bread Is The Most Widely Consumed Food In The World
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="pt-4 pb-4">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_5.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Jurrien Oldhof</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              What Is Music, And What Does It Mean To Us
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pt-3 pb-4">
            <div class="d-flex align-items-center pb-2">
              <img
                src="assets/images/dashboard/Profile_6.jpg"
                class="img-xs img-rounded mr-2"
                alt="thumb"
              />
              <span class="fs-12 text-muted">Yamaha Toshinobu</span>
            </div>
            <p class="fs-14 m-0 font-weight-medium line-height-sm">
              Is Breakfast The Most Important Meal Of The Day
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>